{
  "path": ".",
  "verbose": false,
  "log-level": "INFO",
  "type": [
    "Terraform"
  ],
  "queries-path": "",
  "output-path": "test-results/",
  "output-name": "kics-results",
  "report-formats": [
    "json",
    "sarif"
  ],
  "exclude-paths": [
    ".terraform/",
    ".terragrunt-cache/",
    "testdata/",
    "test-fixtures/",
    "vendor/",
    "node_modules/"
  ],
  "exclude-queries": [],
  "exclude-categories": [],
  "exclude-severities": [
    "info",
    "low"
  ],
  "fail-on": [
    "high",
    "critical"
  ],
  "ignore-on-exit": "none",
  "disable-secrets": false,
  "disable-full-descriptions": false,
  "exclude-results": [],
  "cloud-provider": [],
  "bom": false
}
